* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f6f6f6;
  color: #222;
}

/* Navbar */

.navbar {
  height: 65px;
  padding: 0 40px;
  background: white;
  border-bottom: 1px solid #ddd;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #333;
  text-decoration: none;
}

.nav-links a.active {
  font-weight: bold;
  color: #3328a8;
}

/* Home */

.home,
.cart {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}

.subtitle {
  color: #777;
}

/* Form */

.product-form {
  display: flex;
  gap: 10px;
  margin: 25px 0;
}

.product-form input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

button {
  cursor: pointer;
}

.product-form button,
.product-card button {
  border: none;
  background: #3328a8;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
}

/* Products */

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  padding: 20px;
  background: #eee;
}

.product-info {
  padding: 15px;
}

.category {
  color: #888;
  font-size: 12px;
  text-transform: uppercase;
}

.product-info h3 {
  font-size: 16px;
}

.product-info p {
  color: #777;
  font-size: 13px;
}

.product-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Cart */

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-item img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.cart-item-info {
  flex: 1;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 12px;
}

.quantity-controls button {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  background: white;
}

.remove-btn {
  border: none;
  background: transparent;
  color: #c33;
}

.cart-total {
  margin-top: 20px;
  padding: 20px;
  background: white;
  border: 1px solid #ddd;

  display: flex;
  justify-content: space-between;
}

.empty-cart,
.message {
  background: white;
  padding: 30px;
  text-align: center;
}

.error {
  color: red;
}

/* Footer */

.footer {
  text-align: center;
  padding: 30px;
  margin-top: 50px;
  color: #777;
}